/* Custom Styles
********************************************************/
.coe__ad {
    margin-top: 10px;
}
.inline-top {
	display: inline-block;
	vertical-align: top;
}
p.essay {
	margin: 2em 0 2em 0;
	text-align: justify;
}
.space-top {
	margin-top: 4em;
}
.f-size-11 {
	font-size: 1.1em;
}
.f-paper-indigo-500 {
	color:#3f51b5 !important;
}
.divider-x {
	height: 1px;
	margin: 8px 0;
}
.paper-grey-400 {
	background-color:#bdbdbd !important;
}
.p-x-30 {
	padding-left: 30px;
	padding-right: 30px;
}
.m-y-20 {
	margin-top: 20px;
	margin-bottom: 20px;
}
/* Google UI CSS Classes
********************************************************/

/* Prevents dropdown box from overflowing */

.charts-menu-vertical {
	max-height: 200px;
	overflow-y: auto;
	z-index: 15;
}

/* Charts
********************************************************/

.chart {
	margin: 1em 0 0 0;
	height: 25em;
}

.chart.chart-tall {
	height: 35em;
}

.slider.control {
	margin: 0 0 1em 0;
	height: 6em;
}

.dashboard {
	margin: 3em 0 3em 0;
}

.dashboard p.caption {
	margin: 1em 0 0 0;
}

.control.inline-top {
	margin: 0 1em 0 0;
}

#coe-quotas-chart1.chart {
	height: 30em;
}